*{font-family: "Barlow Condensed", sans-serif;}

body{
    background-image: url(istockphoto-876700382-612x612.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
   display: flex;
   justify-content: center;
   background-color: rgba(255, 255, 255, 0.014);
   backdrop-filter: blur(2px);
   border: 1px solid #ddd;
   font-size: larger;
   margin-bottom: 20px;
   border-radius: 5px;
   h1{
    text-align: center;
   }
}
h1{
    padding: 0px 50px;
}
.contenedor_form{
    background-color: rgba(255, 255, 255, 0.014);
    backdrop-filter: blur(3px);
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.contenedor_ingrediente, .contenedor_peso_paquete, .contenedor_valor, .nombreIngrediente{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.014);
    backdrop-filter: blur(1px);
    border: 1px solid #ddd;
    border-radius: 5px;
    input{
        margin: 7px;
    }
    input::placeholder{
        text-align: center;
    }
}

.contenedorBotones{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorBotones input {
    margin: 10px;
    background-color: rgb(252, 65, 102);
    width: 25%;
    height: 50%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contenedorBotones input:hover {
    background-color: darkred;
}
.inputsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.014);
    backdrop-filter: blur(2px);
    border: 1px solid #ddd;
}

.nombreReceta, .porciones {
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    input{
        text-align: center;
        height: 17px;
    }

}

.resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.014);
    backdrop-filter: blur(3px);
    border: 1px solid #ddd;
    width: 50%;
    text-align: center;
    font-size: larger;
    color: #333;
    border-radius: 5px;
}

#botonResultadosAnteriores{
    margin: 10px;
    background-color: rgb(252, 65, 102);
    height: 35px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#botonResultadosAnteriores:hover {
    background-color: darkred;
}
.contenedorBotonResultadosAnteriores {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor para resultados anteriores */
/* Estilos del contenedor para resultados anteriores */
.resultadosAnteriores {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;      
    box-sizing: border-box;

}

/* Estilos de las tarjetas dentro del contenedor de resultados anteriores */
#resultadosAnteriores > div {
    float: left;
    width: calc(30% - 20px);    
    padding: 15px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.014);
    backdrop-filter: blur(3px);
}

/* Efecto hover para las tarjetas */
#resultadosAnteriores > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
